@use "../index" as *;

.FilterSelect {
  min-width: 85px;
  height: 38px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 10px;

  border-radius: 5px;
  background: $color-primary;
  border: none;

  font-size: 18px;
  color: #fff;

  transition: background 0.2s ease, box-shadow 0.2s ease;
}

.FilterSelect:hover {
  background: $color-primary-hover;
  box-shadow: 0 0 5px 2px $color-primary-shadow;
  cursor: pointer;
}

.FilterSelect__arrow {
  transform: translateY(2px);
}

