.SearchInput {
  position: relative;
  width: 100%;
}

.SearchInput__input {
  width: 100%;
  height: 38px;
  padding: 0 44px 0 16px;
  border: 2px solid #6C5CE7;
  border-radius: 5px;
  font-size: 16px;
}

.SearchInput__input:focus {
  outline: 2px solid rgb(108 92 231 / 0.4);
}

.SearchInput__input::placeholder {
  font-family: Inter, sans-serif;
  color: #C3C1E5;
}

.SearchInput__icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
}