$color-primary: #6C63FF;
$color-primary-hover: #534CC2;
$color-bg: #F7F7F7;
$color-placeholder: #C3C1E5;
$color-primary-shadow: rgba(88, 80, 221, 0.35);
$color-input-focus: rgba(108, 92, 231, 0.4);
$color-item-checked: #8f8f8f;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  font: inherit;
}

body {
  margin: 0;
  background: $color-bg;
  font-family: "Kanit", sans-serif;
}

